<!--The content below is only a placeholder and can be replaced.-->

<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' [routerLink]="['/welcome']">Home9</a></li>
    <li><a class='nav-link' [routerLink]="['/products']">Product List</a></li>
    <li><a class='nav-link' [routerLink]="['/upload']">Upload</a></li>
    <li *ngIf="authService.yo"><a class='nav-link' [routerLink]="['/firebase']">Firebase Demo</a></li>
  </ul>
  <button (click)="authService.login()">Login</button>
  <button (click)="authService.logout()">Logout</button>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-products></app-products>
</div> -->


 